{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Leave a Joke{% endblock %}</h1>
  {% if not g.user['is_mod'] %}
    <a class="action" href="{{ url_for('joke.my_jokes') }}">My Jokes</a>
  {% endif %}
{% endblock %}

{% block content %}
  <h3>Joke balance: {{jokeBalance}}</h3>
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}