{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete Moderator{% endblock %}</h1>
  {% if g.user['is_mod'] %}
    <a class="action" href="{{ url_for('mod.manage_moderators') }}">Cancel</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="joke">
      <form method="post">
        <header>
            <div>
                <h1>Moderator Name: {{moderator_nick_name}}</h1>
            </div>
        </header>
        <div>
            <div>Are you sure you want to delete this joke?</div>
            <br>
            <input type="submit" value="Delete">
        </div>
      </form>
    </article>
{% endblock %}